

<body style="background-color:orange;">
<p>
  <strong>Firstname:</strong>
  <%= @form.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @form.lastname %>
</p>
<strong>Email:</strong>
<%= @form.email %>
</p>
<strong>password:</strong>
<%= @form.password %>
</p>
<strong>Address:</strong>
<%= @form.address%>
</p>

<%= link_to 'Back', forms_path %>